body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #1e293b;
}

.navbar a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

section {
  padding: 80px 20px;
  text-align: center;
}

.heading {
  color: #38bdf8;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.btn-outline {
  background: transparent;
  color: #38bdf8;
  border: 1px solid #38bdf8;
}

.skills-grid {
  display: grid;
  gap: 10px;
}

.bar {
  background: #333;
  height: 10px;
}

.bar div {
  background: #38bdf8;
  height: 100%;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
}